.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  /*через DevTools подобрал px*/
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 132px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.header__address-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  position: relative;
  padding: 146px 50px 50px;
  /*закрепил по центру фоновое изображение*/
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
  z-index: 1;
}

/*общие свойства*/
.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  line-height: 128%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/*выравнивание*/
.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
  padding-top: 15px; /*подогнал через DevTools*/
}

.aligned-text_center {
  text-align: center;
  /*подогнал через DevTools*/
  padding-top: 9px;
  padding-left: 28px;
}

.aligned-text_right {
  text-align: right;
  /*подогнал через DevTools*/
  padding-top: 3px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50px;
  right: 50px;
  bottom: 50px;
  /*поднимаю уровень*/
  position: absolute;
  z-index: 2;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px; /*подгонял через perfectpixel*/
  color: #fff;
  padding-top: 5px; /*подогнал через DevTools*/
}

.bet-button {
 width: 257px;
 height: 48px;
 white-space: nowrap; /*убрал перенос текста в кнопке*/
/*сбросил стандартный стиль*/
  border: 1px solid #fff;
  padding: 12px 32px;
  background: transparent;
  color: #fff;
/*размер из макета*/
  font-size: 22px;
  text-transform: uppercase;
}

.lots {
  height: 723px;
  margin-top: 180px;
  padding: 0 24px;
}

.lots__title {
  font-size: 40px;
  padding-left: 40px;
  text-transform: uppercase;
}

/*при переполнении - карточки переносятся на новую строку,
и расстояние между ними сохраняется*/
.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none; /*убрал стандартные маркеры*/
  margin-top: 27px;
}

.lots__list-item {
  width: 334px;
  min-height: 596px;
}

.lots__card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

/*оверлей как в блоке cover*/
.card__overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
  z-index: 1;
}

.lots__card-title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  position: relative;
  z-index: 2;
  padding: 51px 40px 0; /*подогнал через DevTools*/
}

.lots__card-text {
  font-size: 20px;
  line-height: 120%;
  color:#fff;
  position: relative;
  z-index: 2;
  padding: 0 39px 46px; /*подогнал через DevTools*/
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card__lot-film {
  background-image: url(../images/card-lot-01.jpg);
  
}

.card__lot-book {
  background-image: url(../images/card-lot-02.jpg);
  
}

.card__lot-picture {
  background-image: url(../images/card-lot-03.jpg);

}

.lots__link {
  /*на уровне с lots__title*/
  display: block;
  margin-top: 32px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  /*секция делится на две колонки*/
  /*1 - ширина карточки из lots;
  2 - на ост. пространство*/
  display: grid;
  align-items: start;
  grid-template-columns: 334px 1fr;
  height: 595px;
  margin: 120px 24px;
  gap: 26px;
}

.about__column {
  display: flex;
  justify-content: center;
  padding-top: 37px;/*отступ подогнал через DevTools*/
}

/*управление структуры 2 колонки*/
.about__column_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 145px;
  
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 93px;
}

.about__logo {
  /*делаю черный круг*/
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  /*центрирую логотип в круге*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 149px;
  height: auto;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-top: 7px;
  /*максимально приближенное к макету*/
}

.footer {
  height: 180px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;/*прижал правую колонку*/
  padding-bottom: 7px;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__address {
  max-width: 240px;
  padding-top: 42px;
}